main {
    min-height: 0;
    overflow-y: auto;
}

.postcard {
    border-bottom: 1px solid var(--border-color);
    padding: 1.5rem .5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.postcard:last-of-type {
    border-bottom: none;
}

.postcard > h2 {
    margin: 0;
}

.postcard-author {
    color: var(--action-color);
}

.postcard-tags {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}