body {
    font-family: Inter, sans-serif;
    color: #333;
    font-size: .9em;
    display: grid;
    grid-template-rows: auto auto 1fr;
    --main-color: hsl(259, 79%, 20%);
    --inverted-main-color: hsl(79, 78%, 20%);
    --secondary-color: hsl(240, 67%, 94%);
    --action-color: hsl(259, 79%, 60%);
    --action-color-hover: hsl(259, 79%, 65%);
    --warned-color: hsl(0, 100%, 67%);
    --warned-color-hover: hsl(0, 84%, 41%);
    --border-color: hsl(0, 0%, 85%);
}

h1 {
    font-weight: 100;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .5rem;
    height: 36px;
    align-items: center;
}

#logo {
    align-content: center;
    grid-column: 1;
    font-weight: bold;
    font-size: 24px;
    color: var(--main-color);
}

#header-middle {
    grid-column: 2;
}

#search {
    width: 100%;
    height: 28px;
    padding: 0 !important;
}

#header-right {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: .25rem;
}

#navigation {
    border: 1px solid var(--border-color);
    border-left: transparent;
    border-right: transparent;
    display: flex;
    flex-direction: row;
    gap: .25rem;
    padding: .5rem;
}

#sections {
    display: flex;
    flex-direction: row;
}

#sections > a {
    background: white;
    border: none;
    border-radius: .5rem;
    padding: .5rem .75rem;
}

#sections > a:hover {
    background: hsl(0, 100%, 95%);
    text-decoration: none;
}

.route-part {
    display: flex;
    gap: .1rem;
    justify-content: center;
}

.route-part:last-of-type > img {
    display: none;
}


main {
    padding: .5rem;
}


.action {
    border: 1px solid var(--action-color);
    border-radius: .5rem;
    padding: .5rem;
    transition: background .125s;
}

/*.action:hover {*/
/*    background: hsl(0, 0%, 95%);*/
/*    transition: background .125s;*/
/*}*/

.filled-action {
    border: 1px solid var(--action-color);
    border-radius: .5rem;
    padding: .5rem;
    background: var(--action-color);
    color: white;
    transition: background .125s, border .125s;
}

.filled-action:hover, .action:hover {
    color: white;
    background: var(--action-color-hover);
    border: 1px solid var(--action-color-hover);
    transition: background .125s, border .125s;
}

.warned-action {
    border: 1px solid var(--warned-color);
    border-radius: .5rem;
    padding: .5rem;
    background: transparent;
    transition: background .125s, border .125s;
}

.warned-action:hover {
    background: var(--warned-color-hover);
    border: 1px solid var(--warned-color-hover);
    color: white;
    transition: background .125s, border .125s;
    animation: shake .35s infinite;
}

button:hover {
    cursor: pointer;
}

.web-link {
    color: var(--action-color);
}

input[type=file]:hover {
    cursor: pointer;
}