main {
    min-height: 0;
    overflow-y: auto;
    padding: 0 15vw;
}

#title {
    font-weight: 100;
    letter-spacing: -.02em;
    font-size: 9vw;
    margin: 1rem 0;
    color: black;
    overflow-wrap: break-word;
    font-family: "Times New Roman", serif;
}

#author {
    font-size: 22px;
}

#author-url {
    color: var(--action-color);
}

#dot-list {
    display: flex;
    flex-direction: row;
}

.commentcard > .commentHeader > p {
    font-size: 1.5rem;
}

.commentcard > .comment > .content {
    padding: 1.5rem;
}

.commentcard {
    margin-top: 1rem;
    padding: 10px 50px 10px 10px;
    border: solid 2px var(--border-color);
    box-shadow: 10px 10px var(--secondary-color);
}

.commentcard > .interactions > a {
    padding-right: 10px;
}

.commentcard > .comment > .replies {
    transform: scale(90%);
    translate: 25px;
}

main a {
    color: var(--action-color);
}
