
form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label {
    font-weight: bold;
    margin-top: .5rem;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5rem;
}

input[type="submit"], input[type="reset"] {
    border-radius: .5rem;
    cursor: pointer;
}

#title {
    font-size: 24px;
    font-weight: bold;
}

#btn-group {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

#dots {
    display: flex;
    flex-direction: row;
}

.dot {
    display: flex;
    border: 1px solid var(--action-color);
    padding: .125rem .25rem;
    border-radius: .5rem;
    gap: .125rem;
}

.dot > button {
    background: transparent;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: .1rem;
    transition: border-color .125s;
}

.dot > button:hover {
    border-color: var(--action-color);
    transition: border-color .125s;
}