main {
    grid-row: 3;
    display: grid;
    align-items: center;
    justify-content: center;
}

#form-holder {
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    padding: 2rem 2.5rem;
    background: white;
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label {
    font-weight: bold;
    margin-top: .5rem;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5rem;
}

input[type="submit"] {
    margin-top: 1rem;
    border-radius: .5rem;
}