:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body,
html {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid;
}

input[type=search] {
    border: 1px solid hsl(210, 8%, 85%);
}